streamlit
numpy
plotly
librosa
yt-dlp
openai-whisper
syncedlyrics
audio-separator
pydub
moviepy==1.0.3
Pillow
torch --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
